
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff5f;
    margin: 20;
    padding: 20;
}


header {
    background-color: #363636a2;
    color: #000000a0;
    text-align: center;
    padding: 20px;
}
header h3{
    background-color: #000000;
    font-size: 36px;
margin: 0%;
text-align: center;
padding: 20px;
color: #000000;}

/* Estilize otítulo principal */
header h1 {
    font-size: 36px;
    margin: 0;
    color: rgba(0, 0, 0, 0.977);
}

/* Estilize o parágrafo no cabeçalho */
header p {
    font-size: 18px;
    margin: 0;
    color: #040404d4;
}

/* Estilize a seção "Sobre José Carlos" */
#about {
    background-color: #b7b4b4f8;
    padding: 20px;
    color: #000000;
    color: #000000;
}

/* Estilize o título da seção "Sobre José Carlos" */
#about h2 {color: #000000;
    h3 {color: #000000;}
    h2{color: #000000;}
    font-size: 24px;
    margin: 0;
}

/* Estilize os parágrafos na seção "Sobre José Carlos" */
#about p {color: #020202;
    font-size: 16px;
    line-height: 1.5;
    h2{ color: #000000;}
}

/* Estilize a seção "Nossos Serviços" */
#services {
    background-color: #00000000;
    padding: 20px;
    color: #020202;
}

/* Estilize o título da seção "Nossos Serviços" */
#services h2 {
    font-size: 24px;
    margin: 0;
}

/* Estilize a lista de serviços */
#services ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 16px;
    
}

/* Estilize o rodapé */
footer {
    background-color: #bababaf1;
    color: #924f4f;
    text-align: center;
    padding: 20px;
}

/* Estilize a imagem do caminhão */
#truck-image {
    display: block;
    margin: 5px auto;
    width: 5px;
    height: auto;
}
/* Estilize a imagem da logo */
#logo {
    display: block;
    margin: 2px auto; /* Centralize horizontalmente */
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}
/* Defina a imagem de caminhão como plano de fundo da página */
body {
    background-image: url(plano\ de\ fundo\ jpg.jpg); /* Substitua pelo nome do seu arquivo de imagem */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    color: #00000009; /* Ajuste a cor do texto para garantir a legibilidade */
}
/* Estilize a imagem da logo */
#logo {
    float: left; /* Posiciona a logo à esquerda */
    margin: 10px 20px 10px 0; /* Adicione margens conforme necessário */
    width: 200px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}

/* Estilize o título e o parágrafo no cabeçalho */
header h1,
header p {color: #000000;
    margin-top: 10px; /* Adicione um espaço superior para separar do logo */
}
header h3,
header p{color: #000000;}

header h2,
header p{color: #000000;}
